{% extends 'base.html' %}
{% load static %}
{% block body_class %}admin-body {% endblock %}

{% block content %}
<div class="dashboard-container">

    <div class="sidebar">
        <h2 class="sidebar-title">Dashboard</h2>
        <ul class="sidebar-menu">
            <!-- <li><a href="{% url 'view' %}">View Task Details</a></li> -->
            <li><a href="{% url 'add-points' %}">View Task & Add points</a></li>
            <li id="add-app-link"><a href="{% url 'add-app' %}">Add App & View App List</a></li>
            <li><a onclick="logoutUser(event)">Logout</a></li>

        </ul>
    </div>

    <div class="base-container">
        {% block dashboard_content %}
        <h1>Welcome to Admin Dashboard </h1>
        <p></p>
        {% endblock %}
    </div>

</div>
{% endblock %}