{% extends 'base.html' %}
{% load static %}
{% block body_class %}body-login{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="task-container">
    <h2>Login</h2>
    <form method="post" class="submit-form">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit" onclick="login_handler(event)">Login</button>
    </form>
    <p class="register-text">
        Don't have an account? <a href="#taskModal">Sign Up</a>
    </p>
    <p>To access the Admin Panel, please use the username: <a href="#">admin-user</a> and the password: <a href="#">Admin@1234</a></p>
</div>

<!-- Modal -->
<div id="taskModal" class="modal">
    <div class="modal-content">
        <a href="#" class="close">&times;</a>
        <h2>Sign Up</h2>
        <form method="post" class="signup-form">
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="First Name" required>
            <input type="text" name="surname" placeholder="Surname" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="username_data" placeholder="Username" required>
            <input type="text" name="contact_number" placeholder="Contact Number" required>
            <input type="password" name="password_data" placeholder="Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <div class="modal-buttons">
                <a href="#" class="cancel-btn">Cancel</a>
                <button type="submit" class="submit-btn" onclick="signup(event)">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}