{% extends 'base.html' %}
{% load static %}
{% block body_class %}body-userdashboard{% endblock %}

{% block content %}
<div class="main-container">

    <h1>Welcome {{ data.name }}!</h1>
    <h3>Profile</h3>
    <div class="filter-card">

        <div class="profile-section">

            <img src="{% static 'images/avathar-1.png' %}" alt="Profile Picture" class="profile-picture">
        </div>

        <div class="details-section">
            <div class="info-group">
                <strong>Name:</strong> {{ data.name }}
            </div>
            <div class="info-group">
                <strong>Email:</strong> {{ data.email }}
            </div>
            <div class="info-group">
                <strong>Contact Number:</strong> {{ data.contact_number }}
            </div>
            <div class="info-group">
                <strong>Points Earned:</strong> {{ data.points_earned }}
            </div>
            <div class="info-group">
                <strong>Tasks completed:</strong> {{ data.tasks_completed }}
            </div>

            <form method="get" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn-submit">Logout</button>
            </form>
        </div>

    </div>
    <h3>App list & Task details</h3>
    <table class="data-table">
        <thead>
            <tr>
                <th>Sl.No.</th>
                <th>App</th>
                <th>Download</th>
                <th>Points</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="app-task-list">
            {% for app in data.app_details %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ app.app_name }}</td>
                <td><a href="#">Download</a></td>
                <td>{{ app.points }}</td>
                <td><span class="status-dot"></span>{{ app.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="#taskSubmitModal">
        <button class="btn-submit" onclick="clearModal()">TASK SUBMIT</button>
    </a>


</div>

<!-- Modal -->
<div id="taskSubmitModal" class="modal">
    <div class="modal-content">
        <a href="#" class="close">&times;</a>
        <h2>Task Submit</h2>
        <form method="post" class="signup-form">
            {% csrf_token %}
        <!-- Dropdown box -->
        <select name="task_option" id="taskOption" required>
                <option value="" disabled selected hidden>Select App</option>
                {% for app in data.app_details %}
                {% if app.status == 'Pending' %}
                <option value="{{ app.id }}">{{ app.app_name }}</option>
                {% endif %}
                {% endfor %}
            </select>

        <!-- Drag and Drop Image Upload -->
        <div class="upload-container" onclick="document.getElementById('fileInput').click();">
                <p>Drag & Drop your screenshot here or click to upload</p>
                <input type="file" id="fileInput" name="screenshot" accept="image/*" style="display:none;" required>
            </div>
            <div class="modal-buttons">
                <a href="#" class="cancel-btn">Cancel</a>
                <button type="submit" class="submit-btn" onclick="taskSubmit(event)">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}